* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  background-color: #ffffff;
  /* z-index: 1; */
}

h1 {
  position: absolute;
  color: #fff;
  font-size: 180px;
  font-family: "Sigmar One", cursive;
  z-index: 100;
}
